@font-face {
    font-family: panton;
    src: url(../fonts/panton.black-caps.otf);
}
.font{
    font-family: panton;
}
ul { 
    list-style-type: none;
 }

 a {
    text-decoration: none;
 }
 .nav-bar ul li{
    font-family: panton;
 }
.nav-bar ul li a {
    color: #fff !important;
   
}

.nav-hover:hover {
    color: #ffc107 !important;
}

.mynavstyle {
    position: absolute;
    z-index: 50;
    /* display: block; */
    width: 100%;
    max-width: 100%;
    background-color: #272526d4;
    height: 70px;
}
.burgercolor{
    color: white!important;
    
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-right: calc(var(--bs-gutter-x) * .0);
    padding-left: calc(var(--bs-gutter-x) * .0);

}
@media only screen and  (max-width: 990px) {
    .col-md-4{
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        justify-content: center;
        align-items: center;
}
}

@media only screen and (max-width: 990px)  {
    .dropdown {
    position: relative;
    display: inline-block;
    left: 14%;
    top: -62px;
}

}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #272526d4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 0px;
    left: 27.5%;
    border-radius: 3px;
}

.dropdown-content a:hover {
    color: #ffc107 !important;
    background-color: #181716;
}

.dropdown-content a {
    color: black;
    opacity: 0.5;
    padding: 19px 25px;
    text-decoration: none;
    display: block;


}

.nav-item:hover .dropdown-content {
    display: block;
}


.opac {
    background-color: #3f3221;
    z-index: 0;
    /* height: 100%; */
    width: 100%;
    opacity: 0.8;
    /* padding-top: 70px; */
    position: relative;
    top: 70px;
    height: 100%;
    max-height: 100%;


}

.slid-cover {
    height: 100%;
    max-height: 100%;
}

.siz {
    font-size: 18px;
}

.card__rating {
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-top: 4px solid #e1af12;
    border-bottom: 4px solid #e1af12;
    border-left: 4px solid #e1af12;
    border-right: 4px solid grey;
    font-weight: 700;
    font-size: 32px;
    font-family: 'Noto Sans Mono', monospace;
}

.card__rating:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: -5px;
    left: 0;
    width: 50%;
    height: 20px;
    background: transparent;
    font-weight: 700;
}

.texsiz {
    font-size: 14px;
    margin-left: 10px;
}

.text-muted {
    color: #a3a3a3;
}

.more {
    width: 50px;
    height: 35px;
    border-radius: 3px;
    background-color: #ffffff;
    padding: 16px 12px;
}

.more:hover {
    background-color: #e1af12;
}

.more1 {

    width: 7px;
    height: 7px;
    border-radius: 4px;
    background-color: #0a0a0a;
}

.more2 {
    margin-left: 3px;
    margin-right: 3px;
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background-color: #0a0a0a;
}

.more3 {

    width: 7px;
    height: 7px;
    border-radius: 4px;
    background-color: #0a0a0a;
}

.stars img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.btnwatch {
    margin-right: 20px;
    padding: 7px 15px;
    width: 200px;
    height: 50px;
}

.btnlater {
    padding: 7px 15px;
    width: 200px;
    height: 50px;
}

.btnlater:hover {
    color: #0a0a0a;
    background-color: #e1af12 !important;
}

.btnwatch:hover {
    color: #0a0a0a;
    background-color: #e1af12 !important;
}

.btnwatch i {
    height: 6;
    width: 6;
}

.btnlater i {
    width: 8px;
    height: 11px;
    color: black;
}

.carus-z {
    z-index: 10;
}

.active {
    color: #e1af12 !important;
}

.my-carousel-caption {
    position: absolute;
    right: 12%;
    /* bottom: 1.25rem; */
    left: 12%;
    max-width: 100%;
    padding-bottom: 1.25rem;
    /* color: rgb(16, 14, 14); */
    /* text-align: center; */
    top: 15%;
    max-height: 100%;

}

.card-body:hover h5 {
    color: red;
}

.card-body p {
    text-align: center;
    justify-content: center;

}

.card-body h5 {
    text-align: center;
    justify-content: center;

}

.btnlate {
    padding: 7px 0px;
    width: 140px;
}

.btnlate:hover {
    background-color: #e1af12 !important;
}

.btnlate a {
    color: #0a0a0a;
    text-decoration: none;
}

.ontv {
    cursor: pointer;
    width: 9%;
}

.ontv {
    box-shadow: inset 0 0 0 0 #e1af12;
    color: black;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.ontv:hover {
    box-shadow: inset 110px 0 0 0 #e1af12;
    border-radius: 3px;

}
@media only screen and  (max-width: 990px){
    .ontv {
        cursor: pointer;
        width: 100%;
        text-align: center;
    }
    
    .ontv {
        box-shadow: inset 0 0 0 0 transparent;
        color: black;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .ontv:hover {
        box-shadow: inset 110px 0 0 0 transparent;
        border-radius: 3px;
    
    }
}

.inteathr {
    width: 16%;
}

.inteathr {
    box-shadow: inset 0 0 0 0 #e1af12;
    color: black;

    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.inteathr:hover {
    box-shadow: inset 210px 0 0 0 #e1af12;
    border-radius: 3px;
    cursor: pointer;

}
@media only screen and  (max-width: 990px) {
    .inteathr {
        width: 100%;
        text-align: center;
    }
    
    .inteathr {
        box-shadow: inset 0 0 0 0 transparent;
        color: black;
    
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    .inteathr:hover {
        box-shadow: inset 210px 0 0 0 transparent;
        border-radius: 3px;
        cursor: pointer;
  
    
    }
 
}



.card:hover {
    background-color: #f3f3f3;
    color: #e1af12;
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 0px 4px 1px black;
    /* padding: 14px; */
    z-index: 10;
}

.card {
    margin-left: 7px;
    margin-right: 7px;
    border: 1px solid transparent !important;
}

.cont-flu {
    background-color: #f3f3f3;

}
.itemcont {
    float: left;
    position: relative;

}

@media only screen and  (max-width: 990px){
    .itemcont  {
    float: left;
    position: relative;
    width: 100%!important;
    margin: auto;
    max-width: 100%;
}
}


.itemcont img {
    max-width: 100%;
}

.dwayne-right img {
    max-width: 100%;
}

.col-lg-6 {
    flex: 0 0 auto;
    width: 48%;
}


.carousel-control-prev {
    width: 10%;
}

.carousel-control-next {
    width: 10%;
}

.my-slid-content {
    max-width: 100%;
}

.itemcont:hover .play {
    display: block
}

.itemcont img:hover {
    filter: blur(3px);
}

.play {
    position: absolute;
    display: none;
    top: 43%;
    width: 43px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;
}

.itemcont a i {
    /* background: #fff; */
    height: 50px;
    width: 50px;
    text-align: center;
    /* padding: 18px; */
    font-size: 60px;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;

}

.itemcont2 {
    float: left;
    position: relative;
    height: 100%;

}

.ant:hover .play1 {
    display: block
}

.dr:hover .play2 {
    display: block
}

.thor:hover .play1 {
    display: block
}

.scorp:hover .play2 {
    display: block
}

.itemcont2 img:hover {
    filter: blur(3px);
}

.ant {
    width: 87%;
};

.dr {
    width: 87%;
};

.thor {
    width: 87%;
}



.scorp {
    width: 87%;
}


.itemcont2 a i {
    /* background: #fff; */
    height: 50px;
    width: 50px;
    text-align: center;
    /* padding: 18px; */
    font-size: 60px;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.play1 {
    position: absolute;
    display: none;
    top: 17%;
    width: 43px;
    margin: 0 auto;
    left: -50px;
    right: 0px;
    z-index: 100;
}

.play2 {
    position: absolute;
    display: none;
    top: 68%;
    width: 43px;
    margin: 0 auto;
    left: -50px;
    right: 0px;
    z-index: 100;
}
@media only screen and  (max-width: 990px){
    .itemcont img{
        width: 100%;
    }
    .ant img {
        width: 100%;
       
    }
    .ant  {
        width: 100%;
        margin: auto;
    }
        .dr img {
        width: 100%;
      
    }
    .dr  {
        width: 100%;
        margin: auto;
    }
    .thor img {
        width: 100%;
       
    }
    .thor  {
        width: 100%;
        margin: auto;
    }
  .scorp img {
        width: 100%;
       
    }
    .scorp  {
        width: 100%;
        margin: auto;
    }
}

.popmovies {
    width: 26%;
}

.popmovies {
    box-shadow: inset 0 0 0 0 #e1af12;
    color: black;

    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.popmovies:hover {
    box-shadow: inset 340PX 0 0 0 #e1af12;
    border-radius: 3px;
    cursor: pointer;

}
@media only screen and  (max-width: 990px){
    .popmovies {
        width: 100%;
        text-align: center;
    }
    
    .popmovies {
        box-shadow: inset 0 0 0 0 transparent;
        color: black;
    
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .popmovies:hover {
        margin: auto;
        box-shadow: inset 340PX 0 0 0 transparent;
        border-radius: 3px;
        cursor: pointer;
        
        
    
    }
}

.lexsus a img {
    max-width: 100%;
}

.mospopmovimgsize {

    height: 333px;
    max-width: 100%;
    max-height: 100%;
}

.showmore {
    padding: 7px;
    text-align: center;
    width: 172px;
    height: 35px;
    background-image: linear-gradient(90deg, #e1ad11 0%, #eb7531 100%);
}

.showmore:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 3px 4px #d26b30
}

.card-body {
    flex: 1 1 auto;
    padding: 0px !important;
    color: var(--bs-card-color);
}

.showmore a {
    text-decoration: none;
}

.comingsoon {
    position: relative;
    overflow: hidden;
   
}
@media only screen and  (max-width: 990px){
    .comingsoon {
       
        display: none;
    }
}

.coming {
    left: 19%;
    position: absolute;
    z-index: 10;
    top: 0px;
    width: 62%;
    margin: auto;
    right: 19%;
    max-width: 100%;
}

.soon {
    box-shadow: inset 0 0 0 0 #e1af12;
    color: black;
    width: 13%;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.soon:hover {
    box-shadow: inset 110px 0 0 0 #e1af12;
    border-radius: 3px;
    cursor: pointer;


}

.coming hr {
    z-index: 5;
    opacity: 1;
    margin: 0;
    height: 3px;
    background-image: linear-gradient(90deg, #e2aa15 0%, #ea802c 100%);
}



.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.icon {
    font-size: 24px;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked~.icon,
.rating:hover label:hover input~.icon {
    color: #ffdc69;
}

.rating label input:focus:not(:checked)~.icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #ffdc69;
}

.datamovie {
    margin: 18px;
}

.datarating {
    height: 55px;
}
.moreinfo{
    width: 10%;
}

.moreinfo  {
    color: #d26b30;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}
.moreinfo:hover {
   transform: scale(1.2);
  
}

.X-Men2 {
    font-size: 14px;
    width: 40%;
    max-width: 50%;
}

.X-Men {
    font-size: 14px;
    width: 40%;
    max-width: 50%;
}

.X-Men-Days {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Panton Mtav3";
}

.action {
    font-size: 14px;
    color: #e1ad13;
    font-family: "Panton Nusx3";
}

.soon {
    font-size: 18px;
}

.w-5 {
    width: 5% !important;
}

.right-cat-girls {
    top: 30%;
    left: 76%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 9;
}
@media only screen and  (max-width: 990px){
    .left-cat-girls {
        display: none;
    }
}
@media only screen and  (max-width: 990px){
    .right-cat-girls {
        margin-top: 50%;
        left: 50%;
        transform: translatex(-50% );
        position: absolute;
        z-index: 9;
    }
}
@media only screen and  (max-width: 575px){
    .right-cat-girls {
        margin-top: 50%;
        left: 50%;
        transform: translatex(-50% );
        position: absolute;
        z-index: 9;
        display: none;
    }
}

.play-butt {
    position: absolute;
    left: 33%;
    bottom: 44%;


}

.play-butt:hover {
    transform: scale(1.3);
    animation: horizontal-shaking 0.5s;
    animation-iteration-count: infinite;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}

.my-hr-line {
    border-bottom: 3px solid #000;
    width: 100%;
    opacity: 0.25;
    margin-top: -2px;
}

.card-list-in-image {
    background-color: #101010;
    left: 0;
    padding: 24px;
    bottom: 0;
    position: absolute;

}

.my-card-group .card {
    background-color: transparent;
    border: none;
}



.cat-girl {
    box-shadow: 0px 0px 50px 0px black;
}

.hide {
    display: none;

}

.show {
    display: block;
}

.borntoday {
    box-shadow: inset 0 0 0 0 #e1af12;
    color: black;
    width: 10%;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.borntoday:hover {
    box-shadow: inset 110px 0 0 0 #e1af12;
    border-radius: 3px;
    cursor: pointer;
}


.my-hr-line-born {
    border-bottom: 1px solid #000;
    width: 100%;
    opacity: 0.05;
    margin-top: -3px;
}


.bornhr {
    border: none;
    z-index: 5;
    opacity: 1;
    margin: 1;
    height: 3px;
    background-image: linear-gradient(90deg, #e2aa15 0%, #ea802c 100%);
}
@media only screen and  (max-width: 990px){
    .borntoday {
        box-shadow: inset 0 0 0 0 #e1af12;
        color: black;
        width: 100%;
        text-align: center;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    
    .borntoday:hover {
        box-shadow: inset 110px 0 0 0 transparent;
        border-radius: 3px;
        cursor: pointer;
     
    }
    .bornhr {
        border: none;
        z-index: 5;
        opacity: 1;
        margin: 1;
        height: 3px;
        background-image: linear-gradient(90deg, #e2aa15 0%, #ea802c 100%);
        margin: auto;
    }
}

.bacground-color {
    background-color: whitesmoke;
}

.Celebrity {
    padding: 3px;
    box-shadow: inset 0 0 0 0 #e1af12;
    color: black;
    width: 12%;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.Celebrity:hover {
    box-shadow: inset 140px 0 0 0 #e1af12;
    border-radius: 3px;
    cursor: pointer;
}
.celebrity-news-data{
    width: 75px;
    height: 53px;
    border-radius: 5px;
    background-color: #ececec;
    padding: 15px 12px;
}
.nicolas{
    width: 24%;
    margin-left: 15px;
}
.celebrity-content{
    border-radius: 5px;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.01));
    background-color: #f3f3f3;
    padding: 30px 30px;
    margin-left: 25px;
}
@media only screen and  (max-width: 990px){
.myceleb{
    justify-content: center;

}
.celebrity-content{
    border-radius: 5px;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.01));
    background-color: #f3f3f3;
    padding: 30px 30px;
    margin-left: 25px;
    width: 100%;
    margin-bottom: 12px;
}

.Celebrity {
    padding: 3px;
    box-shadow: inset 0 0 0 0 transparent;
    color: black;
    width: 100%;
    text-align: center;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.Celebrity:hover {
    box-shadow: inset 140px 0 0 0 transparent;
    border-radius: 3px;
    cursor: pointer;
}
.chris{
    margin-top: 15px;
}
}

.readmmore{
    text-decoration: none;
    /* justify-content: center; */
    text-align: center;
}
.marg{
    margin-left: 45px;
}
.chris{
    border-radius: 5px;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.01));
    background-color: #f3f3f3;
    padding: 30px 30px;
    margin-left: 25px;
 
}
.chriis{
    width: 30%;
    margin-left: 15px;
}
.cate{
    border-radius: 5px;
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.01));
    background-color: #f3f3f3;
    padding: 30px 30px;
    margin-left: 25px;
   
}
.catte{
    width: 30%;
    margin-left: 15px;
}
.about-nicolas{
    opacity: 0.702;
font-size: 12px;
color: #4b4b4b;
font-family: "Panton Nusx3";
}
.popular {
    padding: 3px;
    box-shadow: inset 0 0 0 0 #e1af12;
    color: black;
    width: 14%;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.popular:hover {
    box-shadow: inset 140px 0 0 0 #e1af12;
    border-radius: 3px;
    cursor: pointer;
}

.tv:hover {
    box-shadow: inset 170px 0 0 0 #e1af12;
    border-radius: 3px;
    cursor: pointer;
}
.wid{
    width: 11%;
    transition: all 0.7s;
}
.nextwid{
    width: 14%;
    margin-left: 14%;
    transition: all 0.7s;
}
@media only screen and  (max-width: 990px){
    .borncontent {
        text-align: center;
    }
    .popular {
        padding: 3px;
        box-shadow: inset 0 0 0 0 transparent;
        color: black;
        width: 50%;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }
    .popular:hover {
        box-shadow: inset 140px 0 0 0 transparent;
        border-radius: 3px;
        cursor: pointer;
    }
    .nextwid{
        width: 40%;
       margin-left: 56%;
        transition: all 0.7s;
    }
    .wid{
        width: 40%;
        transition: all 0.7s;
        margin-right: 54%;
    }
    }

.smaltext{
    opacity: 0.800;
font-size: 14px;
text-transform: uppercase;
color: #171717;
font-weight: bold;
font-family: "Panton Mtav3";
text-align: center;
}
.footcont{
    background-color: #2a2a2a;

 
}
.muted{
    opacity: 0.502;
font-size: 12px;
line-height: 19px;
color: #ffffff;
font-weight: 400;
font-family: "Open Sans";
}
.evety{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
}
.toplink{
    font-size: 18px;
line-height: 19px;
color: #ffffff;
font-weight: 700;
font-family: "Open Sans";
}
.toplink ul li {
  
    list-style-type: none;
}
.ulli a {
    text-decoration: none;
    font-size: 12px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 0px!important;
}
.ulli a:hover{
    color: #8d721d;
}
.ulli {
padding: 0px;
}
.fa-facebook-f{
    color: #8f8f8f;
}
.fa-facebook-f:hover{
    color: #8d721d;
    cursor: pointer;
}

.fa-youtube {
    color: #8f8f8f;
    margin-left: 20px;
   
}
.fa-youtube:hover {
    color: #8d721d;

    cursor: pointer;
}
.fa-instagram{
    color: #8f8f8f;
    margin-left: 20px;
    margin-right: 20px;
}
.fa-instagram:hover {
    color: #8d721d;
    cursor: pointer;
   
}
.fa-linkedin{
    color: #8f8f8f;
}
.fa-linkedin:hover {
    color: #8d721d;
cursor: pointer;
   
}
.copyright p {
    opacity: 0.502;
font-size: 12px;
line-height: 19px;
color: #ffffff;
font-weight: 400;
font-family: "Open Sans";
}
.soc{
    float: right;
    text-align: end;
}
.Morre{
    transition: all 0.7s;
}
.navhead{
    /* height: 55px;
    width: 100%; */
    
    background: #2a2a2a;
}
.imdb-logo{
    width: 10%;
}
.imdb-logo img{
    width: 75px;
    max-width: 100%;
    height: 35px;
     border-radius: 3px;
}
.serch input{
    height: 35px;
    border-radius: 3px;
    border: none;
    outline: none;
    width: 100%;
    border-top: 1px solid #0b0b0b;
    border-bottom: 1px solid #0b0b0b;
    border-left: 1px solid #0b0b0b;
}
.serc{
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    margin-left: -6px;
}

.option{
    margin: 0px;
    width: 50%;
}
.chose{
    cursor: pointer;
    width: 110px;
    height: 35px;
    background-color: #2a2a2a;
    /* padding: 0px;
    padding-bottom: 10px;
    padding-left: 10px; */
    z-index: 60;
    display: flex;
    justify-content: space-between;
     text-align: center;
    margin: 0px!important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8.5px 13px;
    font-size: 12px;
    color: #acacac;
    font-family: "Panton Nusx3";
    
}
.coll {
    flex: 0 0 0%;
}
.chose a {
    text-decoration: none;
    color: #acacac;
} 
.lang span{
    color: #acacac;
}
.lan {
    color: #acacac;
}
.costumselect ul{
    display: none;
}
.costumselect ul.show{
    border: none;
    display: block;
    height: auto;
}
.langselect ul{
    display: none;
}
.langselect ul.show{
    border: none;
    display: block;
    height: auto;
}
.langselect ul li:hover{
    background-color: #4b4b4b;
    border-radius: 3px;
    
}
.userselect ul.show{
    border: none;
    display: block;
    height: auto;
}
.costumselect ul li {
    display: block;
    padding: 7px 0px;
   
}
.costumselect ul li:hover{
    background-color: #4b4b4b;
    border-radius: 3px;
}
/* .carett{
    margin-right: 12px;
} */
.serchbtn{
    outline: none;
    border: none;
}
.logfluid{
    margin-top: 80px;
    margin-bottom: 80px;
}
.logcontainer{
    box-shadow: 0px 0px 12px 1px black;
    border-radius: 3px;
    padding: 25px;
    border-bottom: 5px solid  #e1af12;
}
.uname{
    width: 80%;
    
}
.inppass{
    margin: 8px 12px 0px  12px;
}
.logbtn{
    margin-top: 12px;
    color: white;
    padding: 5px 45px;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #e1ad11 0%, #eb7531 100%);
}
.reset-pass{
    color: #000;

}

.reset-pass:hover{
    background-color: #e1af12;
transition: all 0.3s ease-in-out
   
}
.login{
    width: 126px;
    height: 35px;
    border-radius: 3px;
    background-color: #2a2a2a;
    border: 1px solid #171717;
}
.lang{
    width: 114px;
    
    font-size: 12px;
color: #fefefe;
font-family: "Panton Nusx3";
}
.conttop{
    margin-top: 112px;
    
}
.regcontent{
  
    height: 500px;
}
.regcontent input{
    margin-bottom: 12px;
    width: 100%;
    max-width: 100%;
    border-radius:3px;
    border: 1px solid #c2c2c2;
   
}
.regcontent input:focus{
 outline: 1px solid #e98529!important;
   
}
.regcontent label{
 margin-left: 12px;
 margin-bottom: 4px;
}
.cansel{
    color: #000;
    margin-left: 3px;
 
}
.cansel:hover{
    color: #000;
   border-bottom: 1px solid black;
}
.weig {
    font-weight: 700;
}